.img-container img {
    width: 100%;
}

nav li{
	list-style-type:none; 
	float: left;
	padding: 0% 2%;
}

nav li{
	font-size: 2em;
}

footer{
	background-color: #a1d2f1;
}

footer .gif{
	text-align: center;
}